body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.meu-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    width: 80vw;
    height: 40vh;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #f9f9f9;
}